
# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored

*.rb   whitespace=space-before-tab,indent-with-non-tab,trailing-space

*.scss linguist-language=SCSS
*.sass linguist-language=Sass

