<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to t('views.title'), "#", id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to t('views.home'), "#" %></li>
				<li><%= link_to t('views.help'), "#" %></li>
				<li><%= link_to t('views.login'), "#" %></li>
			</ul>
		</nav>
	</div>
</header>
